
:root{
    --primary-color: #4CAF50; /* forest green */
    --secondary-color: #f0f0f0; /* Warm sand */
    --accent1-color: #264653; /* Dark slate blue*/
    --accen2t-color: #e9e9e9; /* light golden yellow */
    --headding-font:"Merriweather", sans-serif;
    --body-font: "Lato", sans-serif;
    --border-radius: "Lato", sans-serif;
}
header{
    background-color: var(--primary-color);
    color: var(--accen2t-color);
    margin:1rem auto;
    display:grid;
    grid-template-columns:120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width 1000px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--body-font);
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}
header,main,footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2, h3{
    font-family: var(--headding-font);
    color: var(--primary-color);
}
nav,p,section,article{
    margin: 16px;
    padding: 8px;

}
.social-icons a{
    text-decoration: none;
    color: var(--accent1-color);
    margin-right: 10px;
}
.hero{
    position: relative;
}
.hero img{
    width: 100%;
    height: auto;
    display: block;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article img{
    width: 125px;
    float: right;
    
}
.logo img{
    margin: 0 0.25rem 0 1 rem;
    width:64px;
    height: auto;
}
h1{
    font-size: 2rem;
    font-family:Acme, Arial, sans-serif;
}
.navigation{
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    padding:0;
    font-family: Arial, sans-serif;
}
.navigation li{
    display:block;
    color:navy;
    padding: 20px;
    text-decoration: none ;
    font-size:1.2rem;

}
.navigation a:hover{
    color: tomato;
    font-weight: 700;
    text-decoration: underline  ;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: auto;
}
h2{
    align-items: center;
    text-align: center;
    justify-content: center ;
}
section{
    font-family: acme, sans-serif
}
.flex-container {
    border: 3px dashed darkcyan;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-wrap: wrap;
}
.flex-item {
    width: 250px;
    padding: 0.5rem;
    margin: 1rem
    color:#333;
    border:1px solid rgd(0 0 0 / 20%)
}

section1{

}

}
.card_image{
    width:100%;
    height:150px;
    object-fit:contain;
}
h2{ align-items: center;
    text-align: center;
    justify-content: center ;

}